{#
/**
 * @file
 * Varbase total control template.
 *
 * Available region variables:
 * - content
 */
#}
<div class="vtc-dashboard-masonry">
  {{ attach_library('masonry/masonry.layout') }}
  {{ title_suffix.contextual_links }}
  {% if content.content %}
    {{ content.content }}
  {% endif %}
</div>
